.threePicWidth{
    width: 32%;
}

/* set margin-top to -50% to offset the ":before {padding-top: calc(1 / 2 * 100%);}" on the standard components */
.experience-component.experience-qb_custom_assets-textImageButton{
    position:unset;
    /*margin-top: -48%;*/
}
