node_modules/
cartridges/plugin_vlocity_ins/cartridge/static/default/css/
cartridges/plugin_vlocity_ins/cartridge/static/default/js/
cartridges/plugin_vlocity_ins/cartridge/static/default/fonts/
coverage/
npm-debug.log
cartridges.zip
.idea/
dw.json
.DS_Store
.vscode
.history
*.iml
*.zip
*.code-workspace
.idea
/nbproject
/static